<html>

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        div#app {
            padding: 50px;
            margin: 30px auto;
            max-width: 600px;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 3px #aaa;
            font-size: 11pt;
        }

        div.result {
            margin-top: 20px;
            font-size: large;
            font-weight: bold;
        }

        div.남자 {
            background-color: #d7e5fa;
        }

        div.여자 {
            background-color: #fce8e6;
        }
    </style>
</head>

<body>
    <div id="app" v-bind:class="picked"> 
        <div>
            <label> <input type="radio" value="남자" v-model="picked" /> 남자 </label>
            <label> <input type="radio" value="여자" v-model="picked" /> 여자 </label>
        </div>
        <div class="result" v-show="picked">{{picked}}</div>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
               picked: ''
            }
        }) 
    </script>
</body>

</html>